
.vs/GameTest/v17/Solution.VC.db
.vs/GameTest/v17/Browse.VC.opendb
.vs/GameTest/v17/Browse.VC.db-wal
.vs/GameTest/v17/Browse.VC.db-shm
.vs/GameTest/v17/Browse.VC.db
.vs/GameTest/v17/.suo
.vs/GameTest/FileContentIndex/a47c372f-ee97-426a-bec8-f895971f4a18.vsidx
.vs/GameTest/FileContentIndex/53aa5472-49f7-4717-ae74-dd478764dfe3.vsidx
.vs/GameTest/FileContentIndex/4469dbe9-5891-4e08-99f5-a7420a8011db.vsidx
.vs/GameTest/FileContentIndex/2b1960e1-2e61-4a98-94c9-74162afdf0eb.vsidx
.vs/GameTest/FileContentIndex/00a1ca76-751e-4308-9f25-144dc8261b43.vsidx
